/**
 * Development stylesheet.  Use this file for development purposes by adding this to your 'wp-config.php' file:
 * define( 'SCRIPT_DEBUG', true );
 * This allows you to build large-sized stylesheets with plenty notes and comments. Before releasing, compress
 * this file and replace the compressed CSS in the 'style.css' file.
 * @link http://www.cssdrive.com/index.php/main/csscompressor
 */

/* HTML5 display definitions */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/**
 * Reset.css
 */
html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,font,img,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}img{border:none}:focus{outline:0}table{border-collapse:collapse;border-spacing:0}.clearfix:before,.clearfix:after {content: ""; display: table;}.clearfix:after{clear: both;}.clearfix {*zoom: 1;}

html, body { overflow-x: hidden; }
@media all and (max-width: 1050px) { html, body { overflow-x: visible; } }

body {
	background: #dad6d3;
	color: #333;
	font: 16px/1.8 Georgia, Cambria, serif;
}

#wrapper {
	width: 980px;
	margin: 0 auto;
}

/**
 * Links
 */

a {
	color: #768c22;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:hover,
a:active {
    outline: 0;
}

a:focus {
    outline: thin dotted;
}

/**
 * Headings
 */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 20px;
}

h1 {
	font-size: 38px;
	letter-spacing: -1px;
}

h2 {
	font-size: 32px;
	letter-spacing: -1px;	
}

h3,
.widget-title {
	border-bottom: 1px solid #e7e7e7;
	color: #111;
	font-size: 24px;
	font-weight: normal;
	padding: 0 0 3px 5px;
	clear: both;
}

h4 {
	font-size: 21px;
}

h5 {
	font-size: 18px;
	font-weight: normal;
}

h6 {
	font-size: 16px;
}

	/* Entry titles */
	.entry-title {
		font-size: 32px;
		margin: 0 50px 10px 0;
	}

	.entry-title a {
		color: #222;
	} 

	.entry-title a:hover,
	.entry-title a:focus,
	.entry-title a:active {
		background: #568cbb;
		color: #fff;
		text-shadow: 0 1px 0 #3d719d;
		text-decoration: none;	
	}

/* Lists */
ul, ol {
	list-style: none;
	line-height: 32px;
}

ul {
	list-style: square;
	margin: 0 0 20px 2.5em;
}

ol {
	list-style-type: decimal;
	margin: 0 0 20px 3em;
}

ol ol { list-style: upper-roman }
ol ol ol { list-style: lower-roman }
ol ol ol ol { list-style: upper-alpha }
ol ol ol ol ol { list-style: lower-alpha }
ul ul, ol ol, ul ol, ol ul { margin-bottom: 0 }

dl { margin: 0 0 25px 5px; }
dl dt { font-weight: bold; margin: 10px 0 0 0; }
dl dd { margin: 5px 0 0 1.5em; }

/* Code */
code {
	background: #ffc;
	border-radius: 5px;
	font: 12px/25px monospace;	
	padding: 5px 7px;
}

pre {
	background: #464646;
	border: solid #3e3e3e;
	border-width: 1px 0;
	border-radius: 5px;
	color: #fff;
	font: 14px/25px monospace;
	text-shadow: 1px 1px 0px #3e3e3e;
	margin: 20px 0;
	padding: 20px;
	white-space: pre; white-space: pre-wrap; word-wrap: break-word;
}	

pre code { background: none; font: 14px/25px monospace;	padding: 0; }

/* Quotes */
blockquote {
	border-left: 4px solid #8ca429;
	font: italic 18px/2 'Open Sans', Georgia, serif;
	padding: 10px 20px;
	margin: 40px;
}

blockquote p:last-of-type { margin-bottom: 0; }

blockquote.alignleft, 
blockquote.alignright {
	width: 33%;
}

/* Tables */
table {
	border: 1px solid #e7e7e7;
	border-collapse: collapse; border-spacing: 0;
	font-size: 14px;
	width: 100%;
	margin: 20px 0;
	text-align: left;
}

	/* th */
	tr th,
	thead th {
		background: #f3f9fc;
		border-left: 1px solid #e9f2f7;
		color: #444;
		font-size: 15px;
		font-weight: bold;
		padding: 9px 24px;
		-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, .04);
		box-shadow: inset 0 0 10px rgba(0, 0, 0, .04);
	}

	/* td */
	tr td {
		background: #fafafa;
		border: 1px solid #e7e7e7;
		padding: 6px 24px;
	}
	
	td { vertical-align: top; }
	
	tr:nth-child(2n) td {
		background: #f7f7f7;
	}
	
	tr:hover td {
		background: #fff;
	}
	
	td, td img { vertical-align: top; }
	
	/* tfoot */
	tfoot td {
		color: #777;
		font-size: 11px;
		text-transform: uppercase;	
	}
	
	tfoot th {
		color: #444;
		font-size: 12px;
		text-transform: uppercase;	
	}

	/* Table caption */
	table caption {
		background: #FFFFDB;
		border: 1px solid #F7F7AB;
		font-size: 16px;
		margin-bottom: 5px;
		padding: 10px;
		border-radius: 5px;
	}

/* Change color of selections */
::-moz-selection {
	background: #568cbb;
	color: #f4f8fb;
	text-shadow: none !important;
}

::selection {
	background: #568cbb;
	color: #f4f8fb;
	text-shadow: none !important;
}

/* Misc */

p { margin-bottom: 20px; }

acronym, abbr[title] {
    border-bottom: 1px dotted #ccc;
	cursor: help;
}

hr { border-top: 1px #ccc solid; clear: both; height: 0; margin: 20px 0; }

.alignleft { float: left; }
.alignright { float: right; }
.clear { clear: both; }

.hide, .assistive-text { /* This will hide elements from browser but not for screenreaders */
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

/**
 * Header
 */

#branding {
	/* Dark, grey topbar */
	background: #1f1e1c;
	background: -webkit-gradient(linear, left top, left bottom, from(#313131), to(#1f1e1c));
	background: -webkit-linear-gradient(top, #313131, #1f1e1c);
	background: -moz-linear-gradient(top, #313131, #1f1e1c);
	background: -o-linear-gradient(top, #313131, #1f1e1c);
	background: -ms-linear-gradient(top, #313131, #1f1e1c);
	background: linear-gradient(top, #313131, #1f1e1c);
	border-bottom: 1px solid #171512;
	height: 79px;
	position: relative;
}

.loop-meta {
	/* The green bar in the top */
	background: #8ca429;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #8ca429), color-stop(25%, #b1c530), color-stop(100%, #8ca429));
	background: -webkit-linear-gradient(left, #8ca429 0%, #b1c530 25%, #8ca429 100%);
	background: -moz-linear-gradient(left, #8ca429 0%, #b1c530 25%, #8ca429 100%);
	background: -o-linear-gradient(left, #8ca429 0%, #b1c530 25%, #8ca429 100%);
	background: -ms-linear-gradient(left, #8ca429 0%, #b1c530 25%, #8ca429 100%);
	background: linear-gradient(left, #8ca429 0%, #b1c530 25%, #8ca429 100%);
	border-top: 1px solid #a8c336;
	border-bottom: 1px solid #7c9124;
	width: 940px;
	height: 90px;
	padding: 15px 0 0 20px;
	position: relative;
}

	/* Make it full width */
	#branding:before,
	#branding:after,
	.loop-meta:before,
	.loop-meta:after {
		content: "";
		width: 100%; height: 100%;
		position: absolute;
		z-index: -1;
		top: 0;
	}

	#branding:before,
	#branding:after {
		background: inherit;
		border: inherit;
	}
	
	.loop-meta:before,
	.loop-meta:after {
		background: #8ca429;
		border: inherit;
		top: -1px;
		-webkit-box-shadow: 1px 1px 0 rgba(255,255,255, 0.4);
		box-shadow: 1px 1px 0 rgba(255,255,255, 0.4);
	}

	#branding:before, .loop-meta:before { left: -100%; }
	#branding:after, .loop-meta:after { right: -100%; }
	
	/* IE7 fixes */
	.ie7 #branding,
	.ie7 .loop-meta {
		margin: 0 -2000px;
		padding: 0 2000px;	
	}

/* The site title */
#site-title {
	margin: 0;
}

#site-title a {
	color: #fff;
	display: block;
	font: bold 38px/79px sans-serif;
	float: left;
	margin-left: 25px;
	text-shadow: 1px 1px 0 #000;
	text-decoration: none;
}

#site-title a:hover {
	color: #eee;
}

#site-title img {
	vertical-align: middle;
}

.ie7 #site-title img {
	margin-top: 25px;
}

#site-description {
	color: #b8b5af;
	font: italic 15px/82px Georgia, serif;
	float: left;
	margin-left: 20px;
	text-shadow: 1px 1px 0 #000; 
}

.ie7 #site-description {
	display: inline;
	float: none;	
}

/**
 * Menu
 */

#access {
	position: absolute;
	bottom: -1px; right: 0;
}

#access .menu {
	list-style: none;
	margin: 0;
}

.ie7 #access {
	position: relative;	
}

.ie7 #access .menu {
	position: absolute;
	bottom: 3px; right: 0;	
}

#access .menu-item {
	float: left;
	margin: 0 5px 0 0;
	position: relative;
}

#access .menu-item > a {
	background: #3c3c3c;
	border: 1px solid #4e4e4e;
	border-bottom: none;
	border-radius: 5px 5px 0 0;
	color: #fff;
	display: block;
	font-size: 14px;
	padding: 4px 12px;
	text-shadow: 1px 1px 0 #2b2b2b;
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	transition: all 150ms ease;
}

#access .menu-item > a:hover, 
#access .current-menu-item > a {
	background: #9db32c;
	border: 1px solid #b1ce3b;
	border-bottom: none;
	text-shadow: 1px 1px 0 #7f9526;
	text-decoration: none;
}

.ie #access .menu-item > a:hover, 
.ie #access .current-menu-item > a {
	background: #8ca429;
}

#access .current-menu-item {
	bottom: -1px;
	z-index: 2;
}

	/* Level 2 */
	#access .sub-menu {
		list-style: none; margin: 0;
		position: absolute;
		z-index: 100;
		top: 100%;
		-webkit-box-shadow: 0px 1px 8px rgba(0,0,0, 0.25);
		box-shadow: 0px 1px 8px rgba(0,0,0, 0.25);
		display: none;
	}
	
	#access .menu-item:hover > .sub-menu {
		display: block;	
	}
	
	#access .sub-menu .menu-item {
		float: none;
		margin: 0;
		min-width: 150px;
	}
	
	#access .sub-menu .menu-item > a {
		border-radius: 0;
	}
	
	/* More levels */
	#access .sub-menu .sub-menu {
		top: 0;
		left: 100%;	
	}
	
	/* IE7 fixes */
	.ie7 #branding, .ie7 #access, .ie7 #access ul {
		z-index: 5;
	}

	.ie7 #access .menu-item { z-index: 10; }

/**
 * Content
 */

#main {
	position: relative;
	z-index: 1;	
}

#content {
	float: left;
	width: 640px;
}

#sidebar {
	float: right;
	width: 318px;
	padding: 20px 0;
	position: relative;
}

.sidebar-left #content {
	float: right;
}

.sidebar-left #sidebar {
	float: left;
}

/* One-column content */
body.no-sidebar #content,
body.no-sidebar #single-widgets {
	width: 100%;	
}

body.no-sidebar .hentry,
body.no-sidebar #comments,
body.no-sidebar .single-widget {
	padding: 30px 30px 25px;
}

body.no-sidebar .entry-comments-number {
	top: 35px;
	right: 30px;
}


/* Slider/no slider fixes */
.no-slider #main { 
	margin-top: -10px;
}

.no-slider.singular #main,
.home.slider-disabled #main,
#singular-no-large-thumbnail {
	margin-top: -40px;
}

.error404 #main {
	margin-top: 40px;
}

/**
 * Featured section
 */
 
#featured-section {
	width: 980px;
	height: 310px;
	margin: -60px 0 40px;
	position: relative;
}

#inner-slider {
	width: 980px;
	height: 100% !important;
	margin-top: 30px;
	overflow: hidden;
	position: relative;
}

.singular #featured-section {
	height: 290px;
	margin-top: -40px;	
}

#featured-section ul { list-style: none; margin: 0; position: relative; }

#featured-section .slide {
	float: left;
	width: 960px;
	height: 220px;
	margin: 0 25px; padding: 0;
	position: relative;
	top: 30px;
}

/* Slider content */
#featured-section .entry-title a {
	color: #333;
	display: inline-block;
	font-size: 32px;
	letter-spacing: -2px;
	line-height: 40px;
	margin-top: 20px;
}

#featured-section .entry-title a:hover {
	background: #568cbb;
	color: #f4f8fb;
	text-shadow: 0 1px 0 #3d719d;
	text-decoration: none;
}

#featured-section img {
	float: left;
	margin: 0 25px 0 0;
	padding: 4px;
	max-width: 96%;
	width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */ 
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */ 
	-webkit-box-shadow: 0 0 10px rgba(0,0,0, 0.15);
	box-shadow: 0 0 10px rgba(0,0,0, 0.15);
}

#featured-section .entry-title.full-image a {
	background: #222;
	background: rgba(0,0,0,0.8);
	border-radius: 3px;
	color: #fff;
	font-weight: 700;
	padding: 8px 20px;
	position: absolute;
	bottom: 50px; left: 20px;
}

#featured-section .entry-title.full-image a:hover {
	background: #eee;
	background: rgba(255,255,255,0.8);
	color: #222;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(255,255,255, 0.8);
}

#featured-section .single-slide img {
	-webkit-box-shadow: none;
	box-shadow: none;	
}

#featured-section .entry-summary {
	width: 420px;
	float: left;
}

#featured-section p { 
	font-size: 14px;
	line-height: 26px;
	color: #777;
}

/* Slider navigation */
#feature-slider {
	bottom: 17px;
	left: 45%;
	overflow: visible;
	position: absolute;
	margin: 0; list-style: none;
}

#feature-slider li {
	float: left;
}

#feature-slider a {
	background: url(images/slider-dots.png) no-repeat center 4px;
	display: block;
	width: 22px;
	height: 18px;
	float: left;	
	overflow: hidden;
	text-indent: -9999px;	
}

#feature-slider .current a {
	background-position: center -11px;
}

	/* Next/prev button */
	.prevBtn,
	.nextBtn {
		background: url(images/slider_btn.png) no-repeat;
		height: 60px; width: 29px;
		display: block;
		overflow: hidden;
		text-indent: -9999px;
		position: absolute; top: 120px;
		opacity: 0.8;
		-webkit-transition: 150ms opacity;
		-moz-transition: 150ms opacity;
		transition: 150ms opacity;
	}
	
	.prevBtn:hover,
	.nextBtn:hover {
		opacity: 1;	
	}
	
	.prevBtn {
		background-position: 0 0; 
		left: -30px;
	}
	
	.nextBtn {
		background-position: -30px 0;
		right: -30px;
	}

/* Breadcrumbs and loop-meta */
.page-title {
	font-size: 21px;
	font-weight: normal;
	margin: 15px 0 6px;
}

.no-slider .loop-meta.has-archive-description .page-title {
	margin-bottom: 0;
	position: relative;
	top: -15px;
}

.no-slider .loop-meta.has-archive-description .loop-description {
	position: relative;
	top: -5px;
}

.page-title span {
	font: bold 26px Arial, 'Open Sans', Georgia, serif;
}

.loop-description {
	font: 14px 'Open Sans', Georgia, serif;
}

.breadcrumb {
	margin-top: 8px;
	font-size: 14px;	
}

.loop-description, 
.page-title { 
	color: #fff;
	text-shadow: #778a29 1px 1px 0;
}

.loop-meta a { color: #fff; }

	/* Author meta */
	.author.no-slider #main {
		margin-top: 40px;	
	}
	
	.hentry.author-meta {
		margin: 40px 0 0;
		padding: 20px 100px 20px 20px;	
	}
	
	.author-meta .loop-description, 
	.author-meta .page-title { 
		color: #666;
		text-shadow: none;
	}
	
	.author-meta .page-title {
		margin-bottom: 10px;	
	}
	
	.author-meta .loop-description {
		line-height: 28px;	
	}
	
/* Attachment navigation */
#nav-attachment {
	width: 600px;
	padding: 0 20px;
	position: absolute;
	top: 20px; left: 0;
}

#nav-attachment .nav-previous {
	float: left;
}

#nav-attachment .nav-next {
	float: right;
}

/**
 * Post
 */

.hentry,
#sidebar,
#comments,
#colophon,
#featured-section,
.single-widget,
.pagination {
	background: #fff;
	border: 1px solid #fff;
	border-radius: 2px 2px 5px 5px;
	-webkit-box-shadow: inset 0px 0px 50px #ddd, 0px 0px 4px rgba(0,0,0, 0.1);
	box-shadow: inset 0px 0px 50px #ddd, 0px 0px 4px rgba(0,0,0, 0.1);
}

#featured-section {
	-webkit-box-shadow: inset 0px 0px 50px #ddd, 0 0 15px rgba(0,0,0, 0.25);
	box-shadow: inset 0px 0px 50px #ddd, 0 0 15px rgba(0,0,0, 0.25);
}

/**
 * Post
 */

.hentry,
#comments {
	margin-bottom: 20px;
	padding: 20px;
	position: relative;
}

.sticky {
	-webkit-box-shadow: inset 0px 0px 70px #e6edf5, 0px 0px 4px rgba(0,0,0, 0.1);
	box-shadow: inset 0px 0px 70px #e6edf5, 0px 0px 4px rgba(0,0,0, 0.1);
}

/* Post meta */
.entry-meta {
	background: url(images/page_copy.png) no-repeat 10px 15px;
	border-top: 1px solid #e7e7e7;
	color: #555;
	font: 13px 'Open Sans', serif;
	margin-top: 50px;
	padding: 14px 0 0 36px;
	opacity: 0.6;
	-webkit-transition: opacity 200ms ease;
	-moz-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
}

.entry-meta a {
	color: #000;
}

#content:hover .entry-meta,
body.singular .entry-meta {
	opacity: 1;
	color: #777;
}

/* Post date */
.entry-date > a {
	background: #403f3e;
	background: rgba(0,0,0, 0.7);
	border-radius: 5px 0 0 5px;
	color: #e2e2e2;
	display: block;
	width: 50px;
	padding: 8px 0 10px;
	line-height: normal;
	text-align: center;
	text-shadow: 1px 1px 0px #000;
	position: absolute;
	top: 50px; left: -51px;
	-webkit-box-shadow: -2px 0px 5px rgba(255,255,255, 0.3);
	box-shadow: -2px 0px 5px rgba(255,255,255, 0.3);
}

.entry-date > a:hover {
	background: #242322;
	text-decoration: none;
}

.entry-date span {
	color: #fff;
	display: block;
	font-size: 28px;
	margin-bottom: 5px;
}

.sidebar-left .entry-date > a {
	border-radius: 0 5px 5px 0;
	left: auto; right: -51px;
}

/* Comment bubble */	
.entry-comments-number {
	background: #eee;
	border: 1px solid #cacaca; 
    border-radius: 20px;  
	color: #666;
	font: normal 14px 'Open Sans', Arial, Helvetica, sans-serif;
	text-align: center;

	width: 39px;
	height: 26px;
	line-height: 26px;

	position: absolute;
	top: 30px;
	right: 25px;
}

	/* The comment bubble triangle */
	.entry-comments-number:before,
	.entry-comments-number:after {
		content: '';
		border-style: solid;
		width: 0; height: 0;
		position: absolute;
		top: 100%;
		
		/* Skew it a bit */
		-webkit-transform: skew(-30deg);
		-moz-transform: skew(-30deg);
		-o-transform: skew(-30deg);
		-ms-transform: skew(-30deg);
		transform: skew(-30deg);
	}
	
	.entry-comments-number:before {
		left: 7px;  
		border-width: 4px /* height */ 6px /* width */;
		border-color: #cacaca transparent transparent #cacaca;
	}
	
	.entry-comments-number:after {
		left: 8px;  /* :before left + 1 */
		border-width: 3px 5px; /* :before border-width - 1 */
		border-color: #eee transparent transparent #eee;
	}
	
	/* Comment bubble hover state */
	.entry-comments-number:hover {
		background: #aac13f;
		border: 1px solid #768c22;
		color: #fff;
		text-shadow: 1px 1px 0 #7F9526;
		text-decoration: none;
	}
	
	.entry-comments-number:hover:before {
		border-color: #768c22 transparent transparent #768c22;
	}
	.entry-comments-number:hover:after {
		border-color: #aac13f transparent transparent #aac13f;
	}
	
	.entry-comments-number:active {
		-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0, 0.3);
		box-shadow: inset 0 1px 3px rgba(0,0,0, 0.3);
	}
	
/* Pagination for paged posts and pages */
.page-link {
	clear: both;
	display: block;
	font: 14px 'Open Sans', serif;
	padding-top: 20px;
}

.page-link a {
	background: #eee;
	color: #373737;
	margin: 0;
	padding: 4px 6px;
	text-decoration: none;
}

.page-link a:hover {
	background: #888;
	color: #fff;
}

.page-link span {
	margin-right: 8px;
}
	
/**
 * Post formats
 */
 
/* Quote format */
.format-quote {
	background: #40444d;
	border-color: #212327;
	border-radius: 5px;
	color: #fff;
	margin-bottom: 53px;
	padding: 60px 40px 40px;
	-webkit-box-shadow: inset 0px 0px 50px #24262b, 0px 0px 4px rgba(0,0,0, 0.1);
	box-shadow: inset 0px 0px 50px #24262b, 0px 0px 4px rgba(0,0,0, 0.1);
}

.format-quote .entry-title {
	display: none;
}

.format-quote .quote-meta {
	background: #4d525d;
	border-color: #212327;
	border-top: none;
	border-radius: 0 0 3px 3px;
	color: #dcdde5;	
	font: 12px 'Open Sans', serif;
	margin-right: 20px;
	padding: 8px 15px;
	position: absolute;
	top: 100.5%; right: 0;
	-webkit-box-shadow: inset 0px 0px 20px #3a3d45, 0px 0px 4px rgba(0,0,0, 0.1);
	box-shadow: inset 0px 0px 20px #3a3d45, 0px 0px 4px rgba(0,0,0, 0.1);
}

.format-quote .quote-meta a {
	color: #fff;	
}

.format-quote blockquote {
	border-left: none;
	padding: 0; margin: 0;
	text-shadow: 1px 1px 0 #24262b;
}

.format-quote blockquote {
	border-left: none;
	padding: 0; margin: 0;
	position: relative;
	text-align: center;
	text-shadow: 1px 1px 0 #24262b;
}

.format-quote blockquote:before {
	content: "\201C";
	color: #737884;
	font: 140px Georgia, serif;
	position: absolute;
	top: -52px; left: -20px;
	-webkit-transform: rotate(-6deg);
	-moz-transform: rotate(-6deg);
	-o-transform: rotate(-6deg);
	-ms-transform: rotate(-6deg);
	transform: rotate(-6deg);
}

/* The author of the quote */
.format-quote blockquote cite,
.format-quote blockquote span {
	font: normal 16px Garamond, Georgia, serif;
	margin-top: 20px;
}

.format-quote blockquote a {
	color: #fff;
}

.format-quote blockquote span cite { display: inline; margin-top: 0; }

/* Aside */
.format-aside {
	padding-top: 40px;	
}

.format-aside .entry-title,
.format-aside .entry-comments-number {
	display: none;
}

.singular .format-aside {
	padding-top: 20px;	
}

.singular .format-aside .entry-title {
	display: block;
}

/* Link */
.format-link {
	
}

/* Link */
.format-status {
	padding-top: 40px;
}

.format-status .entry-meta {
	margin-top: 0;
}

.format-status .entry-title {
	display: none;
}

.singular .format-status {
	padding-top: 20px;
}

.singular .format-status .entry-title {
	display: block;
}

/* Image */
.indexed.format-image {
	background: none;
	border: none;
	padding: 0;
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0, 0.15);
	box-shadow: 0px 0px 10px rgba(0,0,0, 0.15);
}

.indexed.format-image .entry-title,
.indexed.format-image .entry-content {
	background: #fff;
}

.indexed.format-image .entry-title {
	border: 1px solid #fff;
	border-bottom-width: 0;
	border-radius: 5px 5px 0 0;
	margin: 0;
	padding: 20px;
	text-align: center;
	-webkit-box-shadow: inset 0px 0px 50px #e9e9e9;
	box-shadow: inset 0px 0px 50px #e9e9e9;
}

.indexed.format-image p,
.indexed.format-image p img {
	margin-bottom: 0;
}

.indexed.format-image .image-meta {
	background: #4d525d;
	border-color: #212327;
	border-top: none;
	border-radius: 0 0 3px 3px;
	color: #dcdde5;	
	font: 13px/2.2 'Open Sans', serif;
	margin-top: -3px;
	padding: 20px 30px;
	overflow: hidden;
	-webkit-box-shadow: inset 0px 0px 20px #3a3d45, 0px 0px 4px rgba(0,0,0, 0.1);
	box-shadow: inset 0px 0px 20px #3a3d45, 0px 0px 4px rgba(0,0,0, 0.1);
}

.indexed.format-image .image-meta a {
	color: #fff;
}

.indexed.format-image .image-meta div {
	display: inline-block;
	float: left;
	width: 35%;
}

.indexed.format-image .image-meta div + div {
	float: none;
	width: 65%;
}

#main .indexed.format-image img,
#main .indexed.format-image .thumbnail {
	border: none;
	display: block;
	float: none;
	max-width: 100%;
	margin: 0 auto;
	padding: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.indexed.format-image .wp-caption {
	background: #111;
	border: none;
	margin-bottom: 0;
	min-width: 100%;
	max-width: 100%;
	padding: 28px 11px 11px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: inset 0px 0px 30px #000;
	box-shadow: inset 0px 0px 30px #000;

}

.indexed.format-image .wp-caption .wp-caption-text {
	color: #ddd;
	padding: 18px 0 11px;
}

.ie8 #main .indexed.format-image .wp-caption {
	min-width: 90%;
	max-width: 96.6%;
}

/**
 * Pagination
 */

.pagination {
	clear: both;
	font: 15px 'Open Sans', sans-serif;
	margin: 40px 0 20px;
	padding: 20px;
	display: block;
	
	/* Old flexbox spec */
	display:-webkit-box;display:-moz-box;display:box;
	-webkit-box-pack:center;-moz-box-pack:center;box-pack:center;
	
	/* New flexbox spec */
	/*display:-webkit-flexbox;display:-moz-flexbox;display:flexbox;
	-webkit-flex-pack:center;-moz-flex-pack:center;flex-pack:center;*/
}

.pagination ul { margin: 0; list-style: none; }

.pagination li {
	float: left;
	margin: 0 10px 10px 0;
}
 
.pagination a,
.pagination li > span {
	background: #e3e3e3;
	border-radius: 3px;
	color: #464646;
	display: block;
	padding: 6px 10px 5px;
	text-shadow: 0px 1px 0px #fff;
	-webkit-box-shadow: 0px 2px 0px #ccc;
	box-shadow: 0px 2px 0px #ccc;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
 
.pagination a:hover {
    background: #a8bf3d;
	color: #fff;
	text-decoration: none;
    text-shadow: 0px -1px 0px #768c22;
    -webkit-box-shadow: 0px 2px 0px #768c22;
	box-shadow: 0px 2px 0px #768c22;
}
 
.pagination .current {
    background: #464646;
    color: #fff;
    text-shadow: 0px -1px 0px #000;
    -webkit-box-shadow: 0px 2px 0px #3e3e3e;
	box-shadow: 0px 2px 0px #3e3e3e;
}

/**
 * Images
 */

.thumbnail {
	background: #fff;
	float: right;
	margin: 10px 0 0 25px;
	padding: 4px;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0, 0.15);
	box-shadow: 0 0 10px rgba(0,0,0, 0.15);
}

.avatar {
	float: left;
	padding: 4px;
	margin: 0 20px 10px 0;
}

/* Images in post content */
img[class*="wp-image-"] {
	border: 1px solid #ddd;
	padding: 6px;
}

a:focus img[class*="wp-image-"],
a:hover img[class*="wp-image-"],
a:active img[class*="wp-image-"] {
	background: #f4f4f4;
	border-color: #e7e7e7;
}

.entry-content img,
.comment-content img,
.widget img {
	max-width: 97.5%; /* Fluid images for posts, comments, and widgets */
}

.ie8 .entry-content .avatar {
	max-width: none;
}

img[class*="wp-image-"],
.entry-attachment img {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */ 
}

img.size-full {
	max-width: 97.5%;
	width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */ 
}

/* Aligned images */
img.aligncenter,
img.center {
	display: block;
	margin: 10px auto;
	text-align: center;
}

img.alignleft {
	margin: 10px 20px 0 0;
}

img.alignright {
	margin: 10px 0 0 20px;
}

/* Captions [caption] */
.wp-caption {
	background: #f4f4f4;
	border: solid #e7e7e7;
	border-width: 0 2px 2px 0;
	border-radius: 0 0 5px 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 96%;
	padding: 9px;
	text-align: center;
}

	/* Aligned captions */
	.wp-caption.aligncenter {
		margin: 0 auto 20px;
	}

	.wp-caption.alignleft {
		margin: 0 20px 0 0;
	}

	.wp-caption.alignright {
		margin: 0 0 0 20px;
	}

.wp-caption img {
	border-color: #f4f4f4;
	display: block;
	margin: 0 auto;
	max-width: 98%;
}

.wp-caption a img {
	-webkit-transition: all 150ms;
	-moz-transition: all 150ms;
	-o-transition: all 150ms;
	-ms-transition: all 150ms;
	transition: all 150ms;
}

.wp-caption a:focus img,
.wp-caption a:active img,
.wp-caption a:hover img {
	background: #fff;
	border-color: #ddd;
	opacity: 0.9;
}

.wp-caption .wp-caption-text,
.entry-caption,
.gallery-caption {
	font: 13px 'Open Sans', Georgia, serif;
	color: #555;
	margin-bottom: 0;
	padding: 10px 0 10px;
	text-align: center;
}

.entry-caption {
	padding: 0 0 20px;
}

/* Galleries. */
.gallery { margin: 0 auto 20px; }

.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}

.gallery-columns-1 .gallery-item { width: 50%; }
.gallery-columns-2 .gallery-item { width: 50%; }
.gallery-columns-4 .gallery-item { width: 25%; }
.gallery img {
	border: 1px solid #ddd;
	padding: 6px;
}

.gallery img:hover {
	background: white;
}

.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}

.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}

.gallery .gallery-caption {
	color: #555;
	font-size: 12px;
	line-height: 2;
	padding: 0 0 20px;
	margin: 0 0 12px;
}

.gallery dl, .gallery dt { margin: 0; }
.gallery br+br { display: none; }

/**
 * Widgets
 */
.widget {
	margin: 20px;
	position: relative;
}

.widget ul,
.widget ol {
	margin-bottom: 0;	
}

/* Single post widgets */
#single-widgets {
	margin-top: 20px;
	width: 640px;
}

.single-widget {
	margin: 0 0 20px 0;
	padding: 20px;
}

	/* Related Posts */
	.widget_japibas_related_posts ul {
		list-style: none;
		margin: 0;
	}
	
	.widget_japibas_related_posts li {
		background: #fff;
		border: 1px solid #e7e7e7;
		border-radius: 3px;
		width: 108px; height: 108px;
		float: left;
		margin: 0 14px 14px 0;
		padding: 3px;
		overflow: hidden;
		text-align: center;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-box-shadow: 0 0 5px rgba(0,0,0, 0.15);
		box-shadow: 0 0 5px rgba(0,0,0, 0.15);
	}
	
	.widget_japibas_related_posts li:nth-of-type(5n) {
		margin-right: 0;
	}
	
	.widget_japibas_related_posts a {
		display: block;
		width: 100%; height: 100%;	

		-webkit-transition: background 150ms ease-in;
		-moz-transition: background 150ms ease-in;
		transition: background 150ms ease-in;
		
		/* Horizontal and vertical center the text */
		
		/* Old spec */
		display:-webkit-box;display:-moz-box;display:box;
		-webkit-box-orient:horizontal;-webkit-box-pack:center;-webkit-box-align:center;
		-moz-box-orient:horizontal;-moz-box-pack:center;-moz-box-align:center;
		box-orient:horizontal;box-pack:center;box-align:center;
		
		/* New spec */
		/*display:-webkit-flexbox;display:-moz-flexbox;display:flexbox;
		-webkit-flex-orient:horizontal;-webkit-flex-pack:center;-webkit-flex-align:center;
		-moz-flex-orient:horizontal;-moz-flex-pack:center;-moz-flex-align:center;
		flex-orient:horizontal;flex-pack:center;flex-align:center;*/
	}
	
	.widget_japibas_related_posts a:hover {
		background: #f7f7f7;
		text-decoration: none;
	}
	
	.widget_japibas_related_posts img {
		max-width: 100%;
		display: block;	
	}
	
	.widget_japibas_related_posts span {
		font: 13px 'Open Sans', Georgia, serif;
	}

		/* Change margings if the widget is the sidebar */
		#sidebar .widget_japibas_related_posts li { margin: 0 20px 20px; }
		#sidebar .widget_japibas_related_posts li:nth-of-type(5n) { margin-right: 20px; }
		#sidebar .widget_japibas_related_posts li:nth-of-type(2n) { margin-right: 0; margin-left: 0; }

/**
 * Footer
 */
 
#colophon {
	color: #564e48;
	margin: 60px 0 20px;
	padding: 40px 40px 20px;
}

/* Two Footer Widget Areas */
#footer-columns.two .widget-area {
	float: left;
	margin-right: 3.7%;
	width: 48.1%;
}

#footer-columns.two .widget-area + .widget-area {
	margin-right: 0;
}

/* Three Footer Widget Areas */
#footer-columns.three .widget-area {
	float: left;
	margin-right: 3.7%;
	width: 30.8%;
}

#footer-columns.three .widget-area + .widget-area + .widget-area {
	margin-right: 0;
}

/* Footer widgets */
#footer-columns .footer-widget {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

#footer-columns .footer-widget:last-of-type {
	border-bottom: none;
	padding-bottom: 0;
}

#footer-columns .widget-title {
	border-bottom: none;
	margin-bottom: 10px;
}

#footer-columns .footer-widget ul {
	margin-bottom: 0;	
}

/**
 * 404 Error page
 */
 
.not-found {
	padding: 40px;
}

.not-found-widgets,
.not-found .searchform {
	margin-top: 40px;
} 

.not-found-widgets .widget {
	width: 260px;
	float: left;
	margin: 0 40px 20px 0;
}

.not-found-widgets .widget:nth-of-type(3n) {
	margin-right: 0;	
}

/**
 * Comments
 */

#comments-title {
	margin: 20px 0;
}

.nocomments {
	color: #aaa;
	font: 24px 'Open Sans', sans-serif;
	margin: 20px 0;
	text-align: center;
}

.commentlist,
.commentlist .children {
	margin: 0 0 20px;
	list-style: none;
}

.commentlist li.comment {
	background: #fff;
	border-bottom: 1px solid #e7e7e7;
	padding: 20px;
	position: relative;
}

.commentlist li.odd {
    background: #fdfef2;
}

.commentlist li.bypostauthor {
    background: #f2f7fc;
    border-color: #dae7f4;
}

	/* Replies */
	.commentlist .children {
		overflow: hidden;
		margin: 20px 0 0;
	}
	
	.commentlist .children li {
		border: 1px solid #e7e7e7;
		border-right: none;
		border-radius: 3px 0 0 3px;
		float: right;
		margin-bottom: 20px;
		width: 85%;
	}

	/* Comment head */
	.comment-meta {
		margin-bottom: 20px;
		padding: 5px 0 5px 65px;
		position: relative;
	}
	
	.children .comment-meta {
		padding-left: 55px;
	}
	
	/* Comment author */
	.comment-author {
		font: 15px 'Open Sans', sans-serif;
	}
	
	.comment-author .avatar {
		float: none;
		position: absolute;
		top: 2px; left: 0;
	}
	
	.children .comment-author .avatar {
		top: 5px;	
	}
	
	.comment-author cite {
		font-style: normal;
		font-weight: bold;
	}
	
	/* Comment meta */
	.commentmetadata {
		font: 12px 'Open Sans', Arial, sans-serif;
		margin-top: 5px;
	}
	
	.commentmetadata a {
		color: #333;	
	}
	
	/* Count comments and give them a number */
	.commentlist li.comment {
		counter-increment: comments-number;
	}
	
	.commentlist li.comment:before {
		content: counters(comments-number, "");
		color: #ccc; 
		font-size: 24px;
		font-style: italic;
		position: absolute;
		top: 25px; right: 20px;
	}
	
	/* This will give you the x.x number for replies.. Like 3.1, 6.3.1 */
	/* .commentlist,
		.commentlist ul.children  {
			counter-reset: comments-number;
		}
		
		.commentlist li.comment:before {
			content: counters(comments-number, ".") " ";
		}
	*/

	/* Reply button */
	.reply {
		font: 13px 'Open Sans', Arial, sans-serif;	
	}

/**
 * Forms
 */
 
fieldset {
	border: 1px solid #e7e7e7;
	border-radius: 5px;
    margin: 0 2px 20px;
    padding: 20px;
}

button,input,select,textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline; 
    *vertical-align: middle;
}

button, input {
    line-height: normal;
    *overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

select {
	width: 100%;	
}

/* Labels */
label {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(50%, #eee));
	background: -webkit-linear-gradient(top, #f3f3f3 0%, #eee 50%);
	background: -moz-linear-gradient(top, #f3f3f3 0%, #eee 50%);
	background: -o-linear-gradient(top, #f3f3f3 0%, #eee 50%);
	background: -ms-linear-gradient(top, #f3f3f3 0%, #eee 50%);
	background: linear-gradient(top, #f3f3f3 0%, #eee 50%);
	color: #555;
	cursor: pointer;
	display: inline-block;
	font: 14px 'Open Sans', Georgia, serif;
	min-width: 60px;
	padding: 8px 10px;
	position: relative;
	top: 2px;
	-webkit-box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
}

#respond label {
	display: block;
	min-width: 60px;
	max-width: 100px;
}

/* Inputs */
input,
textarea,
select {
	background: #fff;
	border: 4px solid #eee;
	border-radius: 5px;
	color: #888;
	font: 15px 'Open Sans', sans-serif;
	padding: 10px;
	position: relative;
	-webkit-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
}

input:focus,
textarea:focus {
	color: #333;

}

textarea {
	width: 95%;
	overflow: auto;
    vertical-align: top;
}

/* Buttons */
button,
input[type="button"], 
input[type="reset"], 
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

.more-link, 
input[type="submit"] { 
	background: #aac13f; /* Old browsers */
	background: -moz-linear-gradient(top, #aac13f 0%, #8ca429 100%); /* FF 3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aac13f), color-stop(100%,#8ca429)); /* Chrome, Safari 4+ */
	background: -webkit-linear-gradient(top, #aac13f 0%,#8ca429 100%); /* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(top, #aac13f 0%,#8ca429 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #aac13f 0%,#8ca429 100%); /* IE10+ */
	background: linear-gradient(top, #aac13f 0%,#8ca429 100%); /* W3C */
	
	border: 1px solid #768c22;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	padding: 8px 18px;
	text-shadow: 1px 1px 0 #7f9526;
	-webkit-box-shadow: inset 0 1px 1px #c6df51;
	box-shadow: inset 0 1px 1px #c6df51;
}

.more-link:hover,
input[type="submit"]:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b2c849), color-stop(100%, #8ca429));
	background: -webkit-linear-gradient(top, #b2c849 0%,#8ca429 100%);
	background: -moz-linear-gradient(top, #b2c849 0%,#8ca429 100%);
	background: -o-linear-gradient(top, #b2c849 0%,#8ca429 100%);
	background: -ms-linear-gradient(top, #b2c849 0%,#8ca429 100%);
	background: linear-gradient(top, #b2c849 0%,#8ca429 100%);
	border: 1px solid #526119;
	text-decoration: none;
	-webkit-box-shadow: inset 0 1px 1px #e0f28c;
	box-shadow: inset 0 1px 1px #e0f28c;
}

.more-link:active,
input[type="submit"]:active {
	opacity: 0.8;
	-webkit-box-shadow: inset 1px 0 5px rgba(0,0,0, 0.3);
	box-shadow: inset 1px 0 5px rgba(0,0,0, 0.3);
}

/* Comment form */
#respond {
	color: #444;
	margin: 0 0 20px;
	padding: 20px;
	position: relative;
}

#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-url,
#respond .comment-form-comment {
	position: relative;
}

#respond .required {
	color: #bd3500;
	font-size: 18px;
	font-weight: bold;
	position: absolute;
	top: 6px; left: 96px;
	z-index: 5;
}

#respond .comment-notes .required {
	font-size: 16px;
	margin-left: 3px;
	position: static;
	opacity: 1;
}

#respond .comment-notes,
#respond .logged-in-as,

#respond .form-allowed-tags {
	font: 14px 'Open Sans', Georgia, serif;
	margin-bottom: 25px;
}

#respond #cancel-comment-reply-link {
	color: #666;
	margin-left: 10px;
	text-decoration: none;
}

#respond #cancel-comment-reply-link:hover {
	text-decoration: underline;
}

.commentlist #respond {
	margin: 0;
}

/* Searchform */
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.searchform input[type="text"],
.searchform input[type="search"] {
	width: 70%;
}
.searchform input[type="submit"] {
	width: 25%;
	padding: 10px;
	margin-left: 3%;
}

/* Password protected post */
.post-password-required input[type="submit"] {
	margin: 20px;
}

/* Misc */

	/* Errors, warnings and so on - Example usage: <p class="error">Error! Message</p> */
	.error, .warning, .download, .success, .tip { padding: 5px 20px 5px 45px; border-left: none !important; border-right: none !important; }
	
	.error{
		background: #ffebe8 url(images/delete.png) no-repeat 15px center;
		border: 2px solid #C00;
	}
	.warning {
		background: #fff6bf url(images/exclamation.png) no-repeat 15px center;
		border: 2px solid #ffd324;
	}
	.download {
		background: url(images/disk.png) no-repeat 15px center;
		border: 2px solid #b5d4fe;
	}
	.success {
		background: #e7f7d3 url(images/accept.png) no-repeat 15px center;
		border: 2px solid #6c3;
	}
	.tip {
		background: url(images/information.png) no-repeat 15px center;
		border: 2px solid #b5d4fe;
	}
	
	.nopassword {
		background: #fff6bf url(images/lock.png) no-repeat 10px center;
		padding: 25px 25px 25px 80px;
	}